*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nerko One', cursive;
}

body{
    background-color: #cecece;
}

.container{
    max-width: 900px;
    height: 600px;
    margin: 50px auto;
    background-color: #add8e6;
}

header > h1{
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-size: 50px;
}