/* Reset */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nerko One', cursive;
}

body{
    background-color: #cecece;
}

.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

/* Container and main */
.container{
    max-width: 1000px;
    height: 900px;
    margin: 50px auto;
    background-color: #add8e6;
}

header > h1{
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-size: 50px;
}
/* Card */
.row{
    width: 80%;
    height: 250px;
    margin: 0 auto;
    border: 1px solid black;
}

.col{
    width: calc(25% - 10px);
    height: 75%;
    border: 1px solid black;
    float: left;
    background-image: url('../img/pattern.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 5px;
}

footer{
    text-align: center;
    font-size: 25px;
}