/* Reset */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nerko One', cursive;
}

body{
    background-color: #add8e6;;
}

.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

/* Container and main */
.container{
    max-width: 1000px;
    margin: 0 auto;
    background-color: #add8e6;
}

header > h1{
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-size: 50px;
}
/* Card */
.row{
    width: 80%;
    height: 250px;
    margin: 15px auto;
}

.col{
    width: calc(25% - 10px);
    height: 100%;
    float: left;
    background-image: url('../img/pattern.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 5px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 25px;
}

footer{
    text-align: center;
    font-size: 25px;
    padding: 10px 0;
}

/* Card visible + same card hover */
#visible-card{
    background-color: #fff;
    background-image: url('../img/mongolfiera.png');
    background-size: 80% 80%;
    background-position: center;
    position: relative;
}

.description{
    width: 100%;
    color: orangered;
    text-align: center;
    position: absolute;
    bottom: 0;
}

#visible-card-2:hover{
    background-color: #fff;
    background-image: url('../img/mongolfiera.png');
    background-size: 80% 80%;
    background-position: center;
    position: relative;
}

#visible-card-2:hover::after{
    content: 'Air baloon';
    width: 100%;
    color: orangered;
    text-align: center;
    position: absolute;
    bottom: 0;
}
/* Card hover */

.sottomarino:hover{
    background-color: #fff;
    background-image: url('../img/sottomarino.png');
    background-size: 80% 80%;
    background-position: center;
    position: relative;
}

.sottomarino:hover::after{
    content: 'Submarine';
    width: 100%;
    color: orangered;
    text-align: center;
    position: absolute;
    bottom: 0;
}

.nave:hover{
    background-color: #fff;
    background-image: url('../img/nave.png');
    background-size: 80% 80%;
    background-position: center;
    position: relative;
}

.nave:hover::after{
    content: 'Boat';
    width: 100%;
    color: orangered;
    text-align: center;
    position: absolute;
    bottom: 0;
}

.trattore:hover{
    background-color: #fff;
    background-image: url('../img/trattore.png');
    background-size: 80% 80%;
    background-position: center;
    position: relative;
}

.trattore:hover::after{
    content: 'Tractor';
    width: 100%;
    color: orangered;
    text-align: center;
    position: absolute;
    bottom: 0;
}

.camper:hover{
    background-color: #fff;
    background-image: url('../img/camper.png');
    background-size: 80% 80%;
    background-position: center;
    position: relative;
}

.camper:hover::after{
    content: 'Camper';
    width: 100%;
    color: orangered;
    text-align: center;
    position: absolute;
    bottom: 0;
}

.bicicletta:hover{
    background-color: #fff;
    background-image: url('../img/bicicletta.png');
    background-size: 80% 80%;
    background-position: center;
    position: relative;
}

.bicicletta:hover::after{
    content: 'Bicycle';
    width: 100%;
    color: orangered;
    text-align: center;
    position: absolute;
    bottom: 0;
}


